<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/builder.css">
    <link rel="stylesheet" href="/public/css/template1.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); </style>

    <script src="/public/scripts/builder.js" defer></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous" defer></script>

    <title>Resume Builder</title>
</head>
<body>
    <div class="initial-setup">
        <div id="setup-step1" class="setup-window">
            <div class="close-setup"><a href="/">Close</a></div>
            <div class="setup-titles">
                <h1>Step 1</h1>
                <p>Select your template:</p>
            </div>
            <div class="templates">
                <div class="template_row">
                    <div id="1" class="template"><img class="template-img" id="1" src="/public/media/images/resume.png" alt="resume template"><p id="1" class="template-p">Template 1</p></div>
                    <div id="2" class="template"><img class="template-img" id="2" src="/public/media/images/resume.png" alt="resume template"><p id="2" class="template-p">Template 2</p></div>
                    <div id="3" class="template"><img class="template-img" id="3" src="/public/media/images/resume.png" alt="resume template"><p id="3" class="template-p">Template 3</p></div>
                    <div id="4" class="template"><img class="template-img" id="4" src="/public/media/images/resume.png" alt="resume template"><p id="4" class="template-p">Template 4</p></div>
                </div>
                <div class="template_row">
                    <div id="5" class="template"><img class="template-img" id="5" src="/public/media/images/resume.png" alt="resume template"><p id="5" class="template-p">Template 5</p></div>
                    <div id="6" class="template"><img class="template-img" id="6" src="/public/media/images/resume.png" alt="resume template"><p id="6" class="template-p">Template 6</p></div>
                    <div id="7" class="template"><img class="template-img" id="7" src="/public/media/images/resume.png" alt="resume template"><p id="7" class="template-p">Template 7</p></div>
                    <div id="8" class="template"><img class="template-img" id="8" src="/public/media/images/resume.png" alt="resume template"><p id="8" class="template-p">Template 8</p></div>
                </div>
                <div class="template_row">
                    <div id="9" class="template"><img class="template-img" id="9" src="/public/media/images/resume.png" alt="resume template"><p id="9" class="template-p">Template 9</p></div>
                    <div id="10" class="template"><img class="template-img" id="10" src="/public/media/images/resume.png" alt="resume template"><p id="10" class="template-p">Template 10</p></div>
                    <div id="11" class="template"><img class="template-img" id="11" src="/public/media/images/resume.png" alt="resume template"><p id="11" class="template-p">Template 11</p></div>
                    <div id="12" class="template"><img class="template-img" id="12" src="/public/media/images/resume.png" alt="resume template"><p id="12" class="template-p">Template 12</p></div>
                </div>
                <div class="template_row">
                    <div id="13" class="template"><img class="template-img" id="13" src="/public/media/images/resume.png" alt="resume template"><p id="13" class="template-p">Template 13</p></div>
                    <div id="14" class="template"><img class="template-img" id="14" src="/public/media/images/resume.png" alt="resume template"><p id="14" class="template-p">Template 14</p></div>
                    <div id="15" class="template"><img class="template-img" id="15" src="/public/media/images/resume.png" alt="resume template"><p id="15" class="template-p">Template 15</p></div>
                    <div id="16" class="template"><img class="template-img" id="16" src="/public/media/images/resume.png" alt="resume template"><p id="16" class="template-p">Template 16</p></div>
                </div>
            </div>
        </div>
        <div id="setup-step2" class="setup-window">
            <div class="close-setup"><a href="/">Close</a></div>
            <div class="setup-titles">
                <h1>Step 2</h1>
                <p>Fill in:</p>
                <span>* Required</span>
            </div>
            <div class="credentials">
                <div class="input-group">
                    <label for="full-name">Full name*</label>
                    <input type="text" name="full-name" id="full-name" required>
                </div>
                <div class="input-group">
                    <label for="birth">Date of birth*</label>
                    <input type="date" name="birth" id="birth">
                </div>
                <div class="input-group">
                    <label for="address">Address*</label>
                    <input type="text" name="address" id="address">
                </div>
                <div class="input-group">
                    <label for="number">Phone Number</label>
                    <input type="text" name="number" id="number">
                </div>
                <div class="input-group">
                    <label for="email">Email*</label>
                    <input type="text" name="email" id="email">
                </div>

                <p id="save-credentials">Save</p>
            </div>
        </div>
    </div>
    <div class="nav-bar">
        <img src="/public/media/images/logo.png" alt="logo" id="nav-logo">
        <div class="nav-links">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/builder">Resume</a>
            <a class="nav-link" href="#">Contact</a>
            <a class="nav-link" href="#">About</a>
        </div>
    </div>
    <div class="builder-view">
        <div class="edit-container">
            <h2>Use the fields below to add your information</h2>

            <div class="edit-container-nav">
                <p class="edit-container-nav-btn">Summary</p>
                <p class="edit-container-nav-btn">Skills</p>
                <p class="edit-container-nav-btn">Experience</p>
                <p class="edit-container-nav-btn">Education</p>
                <p class="edit-container-nav-btn">References</p>
            </div>

            <div class="edit-input">
                <p class="edit-input-title">Describe your profile in a couple lines</p>
                <textarea name="edit-summary" id="edit-summary"></textarea>
                <p id="add-summary">Save</p>
            </div>

            <div class="edit-input">
                <p class="edit-input-title">Add your most valuable skills</p>
                <div class="edit-skills-input">
                    <input type="text" name="edit-skill" id="edit-skill">
                    <p id="add-skill">Add</p>
                </div>
            </div>

            <div class="edit-input">
                <p class="edit-input-title">Describe your professional carreer so far</p>
                <div class="edit-experience-input">
                    <label for="edit-experience-time">Period</label>
                    <input type="text" name="edit-experience-time" id="edit-experience-time">

                    <label for="edit-experience-title">Job Title</label>
                    <input type="text" name="edit-experience-title" id="edit-experience-title">

                    <label for="edit-experience-description">Description</label>
                    <input type="text" name="edit-experience-description" id="edit-experience-description">

                    <p id="add-experience">Add</p>
                </div>
            </div>

            <div class="edit-input">
                <p class="edit-input-title">Academic achievements</p>
                <div class="edit-education-input">
                    <label for="edit-education-time">Period</label>
                    <input type="text" name="edit-education-time" id="edit-education-time">

                    <label for="edit-education-title">School</label>
                    <input type="text" name="edit-education-title" id="edit-education-title">

                    <label for="edit-education-description">Major</label>
                    <input type="text" name="edit-education-description" id="edit-education-description">

                    <p id="add-education">Add</p>
                </div>
            </div>

            <div class="edit-input">
                <p class="edit-input-title">Add References</p>
                <div class="edit-reference-input">

                    <label for="edit-reference-title">Name and Position</label>
                    <input type="text" name="edit-reference-title" id="edit-reference-title">

                    <label for="edit-reference-description">Contact Information</label>
                    <input type="text" name="edit-reference-description" id="edit-reference-description">

                    <p id="add-reference">Add</p>
                </div>
            </div>
            
        </div>
        <div class="preview-container">
            <div class="preview-template">
                <div class="preview-credentials">
                    <p id="preview-name"></p>
                    <p id="preview-birth"></p>
                    <p id="preview-address"></p>
                    <p id="preview-number"></p>
                    <p id="preview-email"></p>
                </div>
                <div class="preview-summary-container">
                    <p>Summary: <br></p>
                    <p id="preview-summary"></p>
                </div>
                <div class="preview-skills-container">
                    <p>Essential Skills</p>
                    <table class="preview-skills-table">

                    </table>
                </div>
                <div class="preview-experience-container">
                    <p>Experience</p>
                    <table class="preview-experience-table">

                    </table>
                </div>
                <div class="preview-education-container">
                    <p>Education</p>
                    <table class="preview-education-table">

                    </table>
                </div>
                <div class="preview-reference-container">
                    <p>References</p>
                    <table class="preview-reference-table">

                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>