<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); </style>

    <link rel="stylesheet" href="/public/css/landing.css">

    <script src="/public/scripts/main.js" defer></script>

    <title>Career Craft</title>
</head>
<body>
    <div class="landing_container">
        <div class="nav-bar">
            <img src="/public/media/images/logo.png" alt="logo" id="nav-logo">
            <div class="nav-links">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/builder">Resume</a>
                <a class="nav-link" href="#">Contact</a>
                <a class="nav-link" href="#">About</a>
            </div>
        </div>
        <div class="landing-intro-container">
            <div class="landing-intro-text">
                <h1>The Ultimate Resume Builder.</h1>
                <p>Welcome to our resume builder! We are here to help you create a professional, effective resume that showcases your skills and experience. With our easy-to-use tools and templates, you can quickly and easily build a resume that stands out from the competition.</p>
                <a href="#">Try it Now!</a>
            </div>
            <div class="landing-intro-decoration">
                <img src="/public/media/images/resume.png" alt="Resume" id="landing-decoration-image">
            </div>
        </div>
        <div class="landing-information-container">
            <div class="information-content">
                <div class="landing-information-decoration">
                    <img src="/public/media/images/landing-info.png" alt="Happy people" id="landing-information-image">
                </div>
                <div class="landing-information-text">
                    <h1>Create the resume to get you hired</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt unde qui repellat expedita ut aspernatur quaerat, quod illo, culpa, ipsum reiciendis fugit voluptatem exercitationem rerum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, minima. Deleniti aut, libero maxime dolore labore officiis fuga ad, a nam vero voluptas culpa. Vero.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus illum eum possimus odio minima quaerat dolorum neque a dolores beatae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est praesentium ad ipsa, nemo quisquam nesciunt. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi eum quis distinctio iste similique excepturi porro rerum, velit dignissimos, nulla accusamus laudantium reiciendis quisquam dicta.</p>
                    <a href="#">Build Your Resume</a>
                </div>
            </div>
            <div class="information-content-2">
                <div class="information-small-container">
                    <img src="/public/media/images/icon1.png" alt="Magic Wand Icon">
                    <h3>Easy and Simple Design</h3>
                    <p>A clean and simple design. Attractive to the eye and well-organized structure. See in real time how your text fits on the resume with the live previewer.</p>
                </div>
                <div class="information-small-container">
                    <img src="/public/media/images/icon2.png" alt="Artificial Intelligence Icon">
                    <h3>AI-generated suggestions</h3>
                    <p>From your personal introduction to a fitting job description, this powerful AI tool got you covered. Generate professional and catchy descriptions in seconds!</p>
                </div>
                <div class="information-small-container">
                    <img src="/public/media/images/icon3.png" alt="Free Resume Icon">
                    <h3>Completely Free</h3>
                    <p>Make an infinite amount of resumes, try all the different styles and pick the ones you like most. No last-minute charges right before downloading, Never!</p>
                </div>
            </div>
        </div>
        <div class="landing-guide-container">
            
        </div>
    </div>
</body>
</html>