<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Craft</title>
</head>
<body>
    <div class="landing_container">
        <div class="nav-bar">
            <a href="/" id="home-logo-link"><img src="/public/media/images/logo.png" alt="logo" id="nav-logo"></a>
            <div class="nav-links">
                <p class="nav-link">Home</p>
                <p class="nav-link">Resume</p>
                <p class="nav-link">Contact</p>
                <p class="nav-link">About</p>
            </div>
        </div>
        <div class="landing-intro-container">
            <div class="landing-intro-text">
                <h1>The Ultimate Resume Builder.</h1>
                <p>Welcome to our resume builder! We are here to help you create a professional, effective resume that showcases your skills and experience. With our easy-to-use tools and templates, you can quickly and easily build a resume that stands out from the competition.</p>
            </div>
            <div class="landing-intro-decoration">
                <img src="/public/media/images/resume.png" alt="Resume" id="landing-decoration-image">
            </div>
        </div>
        <div class="landing-information-container">
            <div class="information-content">
                <div class="landing-information-decoration">
                    <img src="/public/media/images/resume.png" alt="Resume" id="landing-information-image">
                </div>
                <div class="landing-information-text">
                    <h1>Create the resume to get you hired!</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus illum eum possimus odio minima quaerat dolorum neque a dolores beatae.</p>
                    <a href="/builder">Build Your Resume</a>
                </div>
            </div>
            <div class="information-content">
                <div class="information-small-container">
                    <h3>Ooga Booga</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia molestias sed, perferendis accusamus illo officiis!</p>
                </div>
                <div class="information-small-container">
                    <h3>Ooga Booga</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia molestias sed, perferendis accusamus illo officiis!</p>
                </div>
                <div class="information-small-container">
                    <h3>Ooga Booga</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia molestias sed, perferendis accusamus illo officiis!</p>
                </div>
            </div>
        </div>
        <div class="landing-guide-container">
            
        </div>
    </div>
</body>
</html>