*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.nav-bar{
    width: 100%;
    background-color: white;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.nav-bar img{
    margin-left: 5%;
    cursor: pointer;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 5%;
    color: black;
    width: 35%;
}

.nav-links p{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100%;
    width: 25%;
    font-size: 18px;
    font-weight: 600;
}

.nav-links p:hover{
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    background-color: aliceblue;
}

.initial-setup{
    display: none;
}

.builder-view{
    width: 100%;
    height: 100vh;
    background-color: yellow;
    display: flex;
    flex-direction: row;
}

.edit-container{
    width: 35%;
    background-color: aliceblue;
    height: 100%;
}

.preview-container{
    width: 65%;
    background-color: bisque;
}

.edit-container h2{
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-container-nav{
    background-color: gainsboro;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0px;
    margin-bottom: 50px;
    position: relative;
}

.edit-container-nav p{
    font-size: 20px;
    cursor: pointer;
}

.edit-container-nav p:nth-child(1){
   color: red;
}

.edit-container-nav p:hover{
    color: red;
}

.edit-input{
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    position: relative;
}

.edit-input-title{
    font-size: 30px;
    margin-left: 2%;
    margin-top: 50px;
    margin-bottom: 35px;
}

.edit-input label{
    font-size: 26px;
}

 /* summary */
.edit-input:nth-child(3){
    
}

.edit-input:nth-child(3) textarea{
    width: 94%;
    border: none;
    outline: none;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15px;
    border-radius: 5px;
    height: 200px;
    font-size: 24px;
    padding: 5px;
}

#add-summary{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

/* skills */
.edit-skills-input{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.edit-skills-input input{
    width: 65%;
    border: none;
    border-bottom: 0.1px solid gray;
    font-size: 24px;
    outline: none;
    border-radius: 5px;
    padding-left: 5px;
}

#add-skill{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: 5%;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

/* experience */

.edit-input:nth-child(4){
    display: none;
}

.edit-experience-input{
    display: flex;
    flex-direction: column;
    padding: 0% 2%;
}

.edit-experience-input label{
    font-size: 16px;
}

.edit-experience-input input{
    border: none;
    border-bottom: 0.1px solid gray;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    padding-left: 5px;
    margin-bottom: 25px;
}

#add-experience{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

/* education */
.edit-input:nth-child(5){
    display: none;
}

.edit-education-input{
    display: flex;
    flex-direction: column;
    padding: 0% 2%;
}

.edit-education-input label{
    font-size: 16px;
}

.edit-education-input input{
    border: none;
    border-bottom: 0.1px solid gray;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    padding-left: 5px;
    margin-bottom: 25px;
}

#add-education{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

/* reference */
.edit-input:nth-child(6){
    display: none;
}

.edit-reference-input{
    display: flex;
    flex-direction: column;
    padding: 0% 2%;
}

.edit-reference-input label{
    font-size: 16px;
}

.edit-reference-input input{
    border: none;
    border-bottom: 0.1px solid gray;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    padding-left: 5px;
    margin-bottom: 25px;
}

#add-reference{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

.edit-input:nth-child(7){
    display: none;
}




