*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.content{
    overflow-x: hidden;
}

/* navbar */ 
.navbar{
    background-color: white;
    width: 100%;
    padding-right: 5%;
}

.container-fluid{
    width: 100%;
}

.navbar-brand{
    margin-left: 5%;
}

.navbar-nav{
    font-size: 22px;
    text-align: center;
}

.nav-link{
    text-align: center;
}

.nav-item:hover{
    border-bottom: 0.1px solid red;
}

.initial-setup{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: black;
    color: white;
}

#setup-step1{
    padding-top: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.templates{
    width: 100%;
    height: 80%;
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    color: black;
    
}

.templates::-webkit-scrollbar {
    display: none;
}

.card-deck{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    width: 50%;
    color: black;
    border-radius: 10px;
}

.card img{
    width: 100%;
    border-bottom: 0.1px solid black;
}

.btn-outline-dark{
    width: 100%;
}

.card-body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.setup-titles{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    height: 10%;
}

.setup-titles h1{
    margin-left: 15%;
    font-size: 34px;
}

.setup-titles p{
    margin-left: 15%;
    font-size: 24px;
}

.setup-titles span{
    margin-left: 15%;
    font-size: 16px;
}

.credentials{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.input-group{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group label{
    color: white;
    display: block;
    font-size: 26px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.input-group input{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    background-color: black;
    border: none;
    border-bottom: 0.1px solid white;
    margin-top: 10px;
    margin-bottom: 50px;
    color: white;
    font-size: 28px;
}

.input-group input:focus{
    outline: none;
}

/* set up 2 */
.setup-window{
    display: flex;
    flex-direction: column;
}

.setup-titles-2{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.credentials2{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

.form-control{
    margin-bottom: 3%;
}

.close-setup{
    position: absolute;
    top: 2%;
    right: 2%;
}

.close-setup a{
    text-decoration: none;
    color: black;
    margin-right: 10%;
    font-size: 24px;
    background-color: white;
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
}

#save-credentials{
    color: white;
    width: 100%;
    text-align: center;
    font-size: 34px;
    margin-top: 50px;
    cursor: pointer;
}

/* LIVE EDITOR */
 
.builder-view{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.edit-container{
    width: 35%;
    background-color: aliceblue;
    height: 100%;
}

.preview-container{
    margin-top: 100px;
    width: 65%;
    background-color: white;
}

.edit-container h2{
    margin-top: 5%;
    font-size: 24px;
    margin-bottom: 5%;
    margin-left: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-credentials-template-nav{
    background-color: gainsboro;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.edit-credentials-template-nav p{
    font-size: 20px;
    cursor: pointer;
    margin: auto;
}

.edit-credentials-template-nav p:hover{
    color: red;
}

.edit-container-nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.edit-container-nav p{
    font-size: 18px;
    cursor: pointer;
    flex: 1 0 20%;
    margin: 5px 3px;
    padding: 3px;
    text-align: center;
    background-color: gainsboro;
    border-radius: 5px;
}

.edit-container-nav p:nth-child(1){
   color: red;
}

.edit-container-nav p:hover{
    color: red;
}

.edit-input{
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    position: relative;
}

.edit-input-title{
    font-size: 22px;
    margin-left: 2%;
    margin-top: 25px;
    margin-bottom: 35px;
}

.edit-input label{
    font-size: 26px;
}

 /* summary */
.edit-input:nth-child(4) textarea{
    width: 94%;
    border: none;
    outline: none;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}

#edit-summary{
    height: 300px;
}

#add-summary{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

#generate-summary{
    margin-left: 2%;
    font-size: 18px;
    background-color: rgb(121, 161, 255);
    border-radius: 5px;
    padding: 10px 8px;
    width: 50%;
    cursor: pointer;
}

/* skills */
.edit-skills-input{
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

.edit-skills-input input{
    width: 65%;
    border: none;
    border-bottom: 0.1px solid gray;
    font-size: 24px;
    outline: none;
    border-radius: 5px;
    padding-left: 5px;
}

#add-skill{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: 5%;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

/* experience */

.edit-input:nth-child(5){
    display: none;
}

.edit-experience-input{
    display: flex;
    flex-direction: column;
    padding: 0% 2%;
    height: 100%;
}

.edit-experience-input label{
    font-size: 16px;
}

.edit-experience-input input{
    border: none;
    border-bottom: 0.1px solid gray;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    padding-left: 5px;
    margin-bottom: 25px;
}

.edit-experience-input textarea{
    border: none;
    border-bottom: 0.1px solid gray;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    padding-left: 5px;
    margin-bottom: 25px;
}

#add-experience{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

/* education */
.edit-input:nth-child(6){
    display: none;
}

.edit-education-input{
    display: flex;
    flex-direction: column;
    padding: 0% 2%;
}

.edit-education-input label{
    font-size: 16px;
}

.edit-education-input input{
    border: none;
    border-bottom: 0.1px solid gray;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    padding-left: 5px;
    margin-bottom: 25px;
}

#add-education{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

/* reference */
.edit-input:nth-child(7){
    display: none;
}

.edit-reference-input{
    display: flex;
    flex-direction: column;
    padding: 0% 2%;
}

.edit-reference-input label{
    font-size: 16px;
}

.edit-reference-input input{
    border: none;
    border-bottom: 0.1px solid gray;
    background-color: transparent;
    outline: none;
    font-size: 24px;
    padding-left: 5px;
    margin-bottom: 25px;
}

#add-reference{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

.edit-input:nth-child(8){
    display: none;
}

#temporary-id{
    width: 20%;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

/* TEXT GENERATOR WINDOW */

.text-generator-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    background-color: rgb(239,242,249);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    opacity: 0;
    transform: translateX(-2000px);
}

.text-generator-container span{
    width: 100%;
    text-align: right;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

#text-generator-container-title{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 22px;
    height: 20%;
}

.text-generator-inputs{
    height: 80%;
    width: 100%;
}

.text-generator-inputs textarea{
    margin-top: 5%;
    margin-left: 5%;
    width: 80%;
    height: 50%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
}

.text-generator-inputs p{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 18px;
    cursor: pointer;

}

#close-generate-btn{
    margin-right:10%;
    margin-top: 2%;
    font-size: 20px;
}

#submit-generate{
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    font-size: 38px;
    background-color: antiquewhite;
    cursor: pointer;
}

/* LOADER */
.loader {
    border: 16px solid #fcd5d5; /* Light grey */
    border-top: 16px solid red; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
}

/* to edit button */
.to-edit-mode{
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: red;
    display: none;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Toggle preview on small devices */
.toggle-editor{
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: red;
    font-size: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Template choice */ 
@media screen and (max-width: 900px){
    .templates{
        width: 100%;
        padding: 5% 0px 25px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: scroll;
        color: black;
    }

    .template_row{
        display: flex;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        width: 90%; 
        margin-bottom: 35px;
        height: 100%;
    }

    .template{
        cursor: pointer;
        border: 0.1px solid black;
        padding: 10px 10px 15px 10px;
        border-radius: 10px;
        background-color: rgb(188, 208, 255);
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 585px){
    .template{
        cursor: pointer;
        border: 0.1px solid black;
        padding: none;
        border-radius: 10px;
        background-color: rgb(188, 208, 255);
        height: 90%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 5%;
    }
}

/* Edit container */
@media screen and (max-width: 1000px){

    .builder-view{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        overflow-x: hidden;
        position: fixed
    }

    .edit-container {
        width: 100%;
        padding-right: 5%;
        padding-left: 5%;
        height: 100vh;
        padding-bottom: 200px;
        overflow-y: scroll;
        position: fixed;
    }
   .preview-container{
        display: none;
        overflow-y: scroll;
        margin-bottom: 15%;
   }
   /* to edit button */
    .to-edit-mode{
        position: unset;
        background-color: red;
        display: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        width: 100%;
        margin: auto;
    }

    .to-edit-mode p{
        text-align: center;
        font-size: 20px;
        margin: 7px;
    }
}

/* edit sections phone size */
@media screen and (max-width: 500px){
    .edit-input{
        display: flex;
        width: 100%;
        height: unset;
        flex-direction: column;
        position: relative;
    }

    .edit-input-title{
        font-size: 18px;
        margin-left: 2%;
        margin-top: 25px;
        margin-bottom: 20px;
    }

     /* summary */
    .edit-input:nth-child(4) textarea{
        width: 94%;
        border: none;
        outline: none;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 15px;
        border-radius: 5px;
        font-size: 15px;
        padding: 5px;
        height: 200px;
    }

    #add-summary{
        width: 30%;
        text-align: center;
        border-radius: 5px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;

        font-size: 38px;
        background-color: antiquewhite;
        cursor: pointer;
    }

    #generate-summary{
        margin-left: 2%;
        font-size: 18px;
        background-color: rgb(121, 161, 255);
        border-radius: 5px;
        padding: 10px 8px;
        width: 50%;
        cursor: pointer;
    }

    #generator-input{
        height: 100px;
    }

    /* skills */
    .edit-skills-input{
        display: flex;
        flex-direction: row;
        margin-left: 2%;
    }

    .edit-skills-input input{
        width: 65%;
        border: none;
        border-bottom: none;
        font-size: 24px;
        outline: none;
        border-radius: 5px;
        padding-left: 5px;
    }

    #add-skill{
        width: 30%;
        text-align: center;
        border-radius: 5px;
        border: none;
        margin-left: 5%;

        font-size: 38px;
        background-color: antiquewhite;
        cursor: pointer;
    }

    /* experience */

    .edit-input:nth-child(5){
        display: none;
    }

    .edit-experience-input{
        display: flex;
        flex-direction: column;
        padding: 0% 2%;
        height: 100%;
    }

    .edit-experience-input label{
        font-size: 16px;
    }

    .edit-experience-input input{
        border: none;
        border-bottom: none;
        background-color: white;
        outline: none;
        font-size: 18px;
        padding-left: 5px;
        margin-bottom: 25px;
        border-radius: 5px;
    }

    .edit-experience-input textarea{
        border: none;
        border-bottom: none;
        background-color: white;
        outline: none;
        font-size: 16px;
        padding-left: 5px;
        margin-bottom: 25px;
        border-radius: 5px;
        height: 150px;
    }

    #add-experience{
        width: 30%;
        text-align: center;
        border-radius: 5px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        font-size: 38px;
        background-color: antiquewhite;
        cursor: pointer;
    }

    /* education */
    .edit-input:nth-child(6){
        display: none;
    }

    .edit-education-input{
        display: flex;
        flex-direction: column;
        padding: 0% 2%;
    }

    .edit-education-input label{
        font-size: 16px;
    }

    .edit-education-input input{
        border: none;
        border-bottom: none;
        background-color: white;
        outline: none;
        font-size: 20px;
        padding-left: 5px;
        margin-bottom: 25px;
        border-radius: 5px;
    }

    #add-education{
        width: 30%;
        text-align: center;
        border-radius: 5px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        font-size: 38px;
        background-color: antiquewhite;
        cursor: pointer;
    }

    /* reference */
    .edit-input:nth-child(7){
        display: none;
    }

    .edit-reference-input{
        display: flex;
        flex-direction: column;
        padding: 0% 2%;
    }

    .edit-reference-input label{
        font-size: 16px;
    }

    .edit-reference-input input{
        border: none;
        border-bottom: none;
        background-color: white;
        outline: none;
        font-size: 20px;
        padding-left: 5px;
        margin-bottom: 25px;
        border-radius: 5px;
    }

    #add-reference{
        width: 30%;
        text-align: center;
        border-radius: 5px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        font-size: 38px;
        background-color: antiquewhite;
        cursor: pointer;
    }

    .edit-input:nth-child(8){
        display: none;
    }

}

/* navbar */ 
@media screen and (max-width: 992px){
    .nav-link{
        font-size: 28px;
    }
}

/* set up 1 */
@media screen and (max-width: 1100px){

    #setup-step1{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .setup-titles{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        height: 10%;
        margin-top: 5%;
    }
    
    .setup-titles h1{
        margin-left: 15%;
        font-size: 34px;
    }
    
    .setup-titles p{
        margin-left: 15%;
        font-size: 24px;
    }
    
    .card-deck{
        width: 75%;
    }
    
    .card{
        width: 50%;
        color: black;
        border-radius: 10px;
    }
    
    .card img{
        width: 100%;
        border-bottom: 0.1px solid black;
    }
    
    .btn-outline-dark{
        width: 100%;
    }
    
    .card-body{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    #setup-step1{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .setup-titles{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        height: 10%;
        margin-top: 10%;
    }
    
    .setup-titles h1{
        margin-left: 15%;
        font-size: 34px;
    }
    
    .setup-titles p{
        margin-left: 15%;
        font-size: 24px;
    }
    
    .card-deck{
        width: 85%;
    }
    
    .card{
        width: 50%;
        color: black;
        border-radius: 10px;
    }
    
    .card img{
        width: 100%;
        border-bottom: 0.1px solid black;
    }
    
    .btn-outline-dark{
        width: 100%;
    }
    
    .card-body{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 700px){
    #setup-step1{
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .setup-titles{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        height: 10%;
        margin-top: 10%;
    }
    
    .setup-titles h1{
        margin-left: 15%;
        font-size: 34px;
    }
    
    .setup-titles p{
        margin-left: 15%;
        font-size: 24px;
    }
    
    .card-deck{
        width: 95%;
    }
    
    .card{
        width: 50%;
        color: black;
        border-radius: 10px;
    }
    
    .card img{
        width: 100%;
        border-bottom: 0.1px solid black;
    }
    
    .btn-outline-dark{
        width: 100%;
    }
    
    .card-body{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 576px){

    #setup-step1{
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: black;
        padding-bottom: 30%;
    }

    .setup-titles{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        height: 10%;
        margin-top: 10%;
    }
    
    .setup-titles h1{
        margin-left: 15%;
        font-size: 34px;
    }
    
    .setup-titles p{
        margin-left: 15%;
        font-size: 24px;
    }
    
    .card-deck{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        overflow: unset;
    }
    
    .card{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        color: black;
        border-radius: 10px;
    }
    
    .card img{
        width: 100%;
        border-bottom: 0.1px solid black;
    }
    
    .btn-outline-dark{
        width: 100%;
    }
    
    .card-body{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

/* set up 2 */
@media screen and (max-width: 1000px){
    /* set up 2 */
    .setup-window{
        display: flex;
        flex-direction: column;
    }

    .setup-titles-2{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: 3%;
    }

    .credentials2{
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-control{
        margin-bottom: 3%;
    }
}

@media screen and (max-width: 500px){
    /* set up 2 */
    #setup-step2{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
    }

    .setup-window{
        display: flex;
        flex-direction: column;
    }

    .setup-titles-2{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .credentials2{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        background-color: black;
        margin-left: auto;
        margin-right: auto;
    }

    .form-control{
        margin-bottom: 5%;
    }

    #save-credentials{
        background-color: black;
        color: red;
    }

    .credentials2-form{
        height: 100vh;
    }
}

