/* 
    Styling of new elements added in preview
*/ 

/* TEMPLATE 1 */ 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.preview-container{
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-name{
    font-size: 38px;
    margin-left: 10%;
    margin-top: 6%;
    margin-bottom: 35px;
    font-weight: 400;
}

.credential-line{
    display: flex;
    flex-direction: row;
    min-width: fit-content;
}

.preview-credential{
    margin-left: 12%;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
    width: 25%;
}

.credential-line span{
    margin-left: 2%;
    font-size: 20px;
    font-weight: 300;
    width: 100%;
}

/* summary */
.preview-summary-container{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#preview-summary-title{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 10px solid rgb(86, 148, 219);
}

#preview-summary{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    text-align: center;
    width: 95%;
}

/* skills */
.preview-skills-container{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#preview-skills-title{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 10px solid rgb(86, 148, 219);
    margin-bottom: 15px;
}

.preview-skills-table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill-row{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.skill-cell{
    width: 33%;
    font-size: 18px;
    font-weight: 400;
    text-decoration: dotted;
    cursor: pointer;
}

tbody{
    width: 100%;
}

.skill-cell:hover{
    transition: 0.3s ease-in-out all;
    color: red;
}

/* eXPERIENCE */
.preview-experience-container{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#preview-experience-title{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 10px solid rgb(86, 148, 219);
    margin-bottom: 15px;
}

.preview-experience-table{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experience-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.experience-row td{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.time-div{
    width: 25%;
    padding: 5px;

    font-weight: 600;
    font-size: 16px;
}

.content-div {
    width: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.modify-div p{
    color: rgb(86, 148, 219);
    font-size: 20px;
    cursor: pointer;
    margin-right: 15px;
}

.modify-div p:hover{
    color: red;
}

.title-div{
    grid-area: 1 / 1 / 3 / 5;
    font-weight: 600;
}

.modify-div{
    grid-area: 1 / 5 / 3 / 7;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
};

.title-div p{
    font-size: 16px;
    font-weight: 600;
}

.description-div{
    grid-area: 3 / 1 / 9 / 7;
    font-size: 14px;
    padding-left: 2%;
}


/* Education */
.preview-education-container{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

#preview-education-title{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 10px solid rgb(86, 148, 219);
    margin-bottom: 15px;
}

.preview-education-table{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.education-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.education-row td{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

/* References */
.preview-reference-container{
    margin: 50px 10% 10% 10%;
}

#preview-reference-title{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 10px solid rgb(86, 148, 219);
    margin-bottom: 15px;
}

.preview-reference-table{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.single-reference{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.single-reference td{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.content-div-reference{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-div-reference .description-div{
    width: 80%;
}

.reference-title{
    font-weight: 600;
    font-size: 16px;
}

.reference-description{
    font-size: 14px;
    margin-left: 2%;
}

.content-div-reference .modify-div{
    width: 20%;
}

/* preview sections phone size */
@media screen and (max-width: 500px){
    #preview-name {
        font-size: 30px;
        margin-left: 5%;
        margin-top: 6%;
        margin-bottom: 35px;
        font-weight: 400;
    }

    .preview-credential {
        margin-left: 8%;
        font-weight: 600;
        font-size: 13px;
        margin-bottom: 5px;
        width: 30%;
    }

    .credential-line span {
        margin-left: 5%;
        font-size: 15px;
        font-weight: 300;
        width: 100%;
    }

    .preview-summary-container {
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .preview-skills-container {
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .preview-experience-container {
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .preview-education-container {
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .preview-reference-container {
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #preview-summary {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        text-align: center;
        width: 95%;
        font-size: 14px;
    }

    .skill-cell {
        width: 33%;
        font-size: 14px;
        font-weight: 600;
        text-decoration: dotted;
        cursor: pointer;
    }

    .time-div {
        width: 30%;
        padding: 5px;
        font-weight: 600;
        font-size: 14px;
    }

    .content-div {
        width: 100%;
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .modify-div {
        FONT-WEIGHT: 500;
        grid-area: 1 / 5 / 3 / 7;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .single-education{
        width: 100%;
    }
}